.profile__name {
  grid-area: name;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 400px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}