.elements__button {
  background-color: Transparent;
  padding: 0;
  border: none;
  transition: opacity .3s;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-position: center;
}

.elements__button:hover {
  opacity: 0.5;
  cursor: pointer;
}