.elements__delete {
    position: absolute;
    width: 18px;
    height: 19px;
    top: 20px;
    right: 20px;
    border: none;
    background-image: url(../../../images/deletion.svg);
    background-position: center;
    background-color: Transparent;
    background-size: 18px;
    transition: all 0.4s ease-in-out;
}

.elements__delete:hover {
    cursor: pointer;
    opacity: 0.6;
}
