.profile__button-new {
  box-shadow: none;
  padding: 0;
  width: 150px;
  height: 50px;
  background-color: Transparent;
  border-color: #fff;
  cursor: pointer;
  border-style: solid;
  transition: opacity .3s;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
}

.profile__button-new:hover {
  opacity: 0.6;
}

@media screen and (max-width: 715px) {
  .profile__button-new {
    width: 282px;
    background-size: 16px;
  }
}