.elements__element {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}