.popup__toggle {
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: opacity .4s;
  padding: 0;
  background-color: Transparent;
  border: none;
  background-image: url(../../../images/close-icon.svg);
  background-position: center;
  background-size: 32px;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 520px) {
  .popup__toggle {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}

.popup__toggle:hover {
  opacity: .6;
}