.popup__line {
  border: 0;
  padding: 0;
  padding-bottom: 7px; 
  width: 358px;
  border-bottom: 1px solid rgb(0%, 0%, 0%, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 520px) {
  .popup__line {
    width: 238px;
  }
}